---
---

<section class="bg">
    <div class="bg__gradient"></div>
    <div class="nodes" id="node__1"></div>
</section>

<style>
    .bg {
        position: fixed;
		top: 0;
		left: 0;

    }
    .bg__gradient {
        /* position: fixed; */
        width: 100%;
        height: 100%;
    }
    #node__1 {
        filter: blur(6px);
        position: fixed;
		top: 0;
		left: 0;
        z-index: -999;
        pointer-events: none;
    }
</style>

<!-- <script>
</script> -->