---
---

<footer>
    <div class="c-inner">
        <p>
            ©︎Ishida Kazuki <br class="c-visible-nrw">
            Designed and Developed by Ishida Kazuki
        </p>
    </div>
</footer>

<style lang="scss">
    footer .c-inner {
        border-radius: 2rem 2rem 0 0;
        margin-top: 8rem;
        padding: 1rem;
    }
    footer {
        p {
            text-align: center;
            line-height: 1;
            @include mq(sp) {
                line-height: 1.5;
            }
        }
    }
</style>