---
---

<footer>
    <div class="l-inner">
        <p>
            ©︎Ishida Kazuki<span class="c-visible-wide"> | </span><br class="c-visible-nrw">
            Thank you for visiting this website.
        </p>
    </div>
</footer>

<style lang="scss">
    footer .l-inner {
        border-radius: 2rem 2rem 0 0;
        margin-top: 8rem;
        padding: 1rem;
    }
    footer {
        p {
            text-align: center;
            line-height: 1;
            @include mq(sp) {
                line-height: 1.5;
            }
        }
    }
</style>