---
import HeaderItem from './Header__item.astro';

const navItems = Astro.props.items;
// console.log(navItems)
---
<header>
    <nav>
        {navItems && navItems.map((item: string) => (
            <HeaderItem class="nav-items" item={item}/>
        ))}
    </nav>
</header>

<style lang="scss">
    header {
        margin-top: calRem(22);
        width: 100%;
    }
    nav {
        margin-right: calRem(32);
        display: flex;
        justify-content: flex-end;
        gap: 72px;

        @include mq(sp) {
            justify-content: center;
            gap: 2rem;
            margin-right: 0;
        }
    }
</style>