---
import SkillsItem from './Skills__item.astro';


interface Skill {
    name: string;
    during: string;
    desc: string;
}

const skills: Skill[] = [
    {
        name: "JavaScript",
        during: "2年",
        desc: "プロパティの操作やクラス構文、async, awaitを使った非同期通信まで。まだまだ学んでいきたいです"
    },
    {
        name: "PHP",
        during: "2年",
        desc: "Wordpressで使用していました。最近ではLaravelで使用"
    },
    {
        name: "SASS",
        during: "2年",
        desc: "SCSSをメインとして使用。フレームワークを使うと忘れがちですがFLOCCSで書くように心がけています"
    },
    {
        name: "TypeScript",
        during: "1年",
        desc: "特にVue3で必要なため学習中"
    },
    {
        name: "Vue.js",
        during: "2年",
        desc: "Vue3から独特の書き味が失われていますが、refなどサービス開発に使いやすいです"
    },
    {
        name: "Nuxt.js",
        during: "1年",
        desc: "個人開発で使っていますが、今後nuxt3へも対応していきたいです"
    },
    {
        name: "Astro.js",
        during: "最近",
        desc: "このポートフォリオ、直近のLPで使用。テンプレートエンジンの上位互換として有用です"
    },
    {
        name: "firebase",
        during: "1年",
        desc: "リファレンスがわかりやすいです。個人開発ではモジューラー形式のv9を使用"
    },
    {
        name: "p5.js",
        during: "1年",
        desc: "このポートフォリオの背景で使用。今後はThree.jsやLottieにも手を出していきたいです"
    },

    {
        name: "GSAP",
        during: "最近",
        desc: "ロード画面を制作した際に使用。アニメーションライブラリとして最初に触りました"
    },
    {
        name: "AWS",
        during: "1年",
        desc: "主にcloud9を開発環境として使用。個人で使えないか試行錯誤中",
    },
]
---

<div class="skills">
    <ul class="skills__items">
        {skills && skills.map((item) => (
            <SkillsItem item={item} />
        ))}
    </ul>
</div>

<style lang="scss">
    .skills__items {
        padding-top: 2rem;
    }
</style>