---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="石田一樹の個人サイト" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet", href='https://unpkg.com/ress/dist/ress.min.css'> 
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

		<!-- Reset CSS -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.js" integrity="sha512-M7uzkKVt12bO/ClDOwaTk0AUwDPmJzjxri/KQKft2cisI6q3zJ4KxX3IfSQXF9Z6WU6NNW67JAljgWrA4WiiOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>		 -->
		<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.7.0/p5.min.js" integrity="sha512-bcfltY+lNLlNxz38yBBm/HLaUB1gTV6I0e+fahbF9pS6roIdzUytozWdnFV8ZnM6cSAG5EbmO0ag0a/fLZSG4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
		

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3T1SCGYWWG"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-3T1SCGYWWG');

		</script>
		<!-- p5.js -->
		<script src="../scripts/sketch.js"></script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style lang="scss" is:global>
	:root {

	}
	html {
		font-family: "Noto Sans JP", sans-serif;
		background: #17212B;
	}
	body {
		position: relative;
		max-width: 100svw;
		// max-height: 100svh;
		
		&.-modal {
			overflow: hidden;
		}
	}
	code {

	}
	a {
		color: #FF53EC;
		text-decoration: none;
	}
	img {
		display: block;
		max-width: 100%;
	}
	ul {
		list-style: none;
	}
</style>
